#checkBox{
    position: absolute;
    left: 24%;
    width: 10%;
}


/* #titleBrain1 {
    position: absolute;
    top: 51%;
    right: 92%;
    width: 7%;
    text-align: center;
    z-index: 100;
    display: block;
    color: black;
    font-size: 0.9em;
  } */
  #titleBrain1 {
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 0 5px 0;
  }

  .brainViewerCard .ant-card-body {
    width: 100%;
    padding: 0 0 5px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .leftBrainControlCard .ant-card-body {
    padding: 10px !important
  }
  
  .rightBrainControlCard .ant-card-body {
    padding: 10px !important
  }
  
  .roiBrainCard .ant-card-body {
    padding: 0 !important;
    max-height: 170px;
    min-height: 140px;
  }
  
  .projectionNodeViewerClass .ant-card-body {
    padding: 0 !important
  }

  .canvas {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
  }
  .timeSliderTab {
    background-color: white;
    padding: 12px 0 18px 0;
    margin: 0 -1px 0 0
  }

  .titleTab {
    background-color: white;
    padding: 5px 0 5px 0;
    margin: 0 -1px 0 0
  }
  