.local-event-container {
    width: 100%;
    height: 4vh;
  }
  
  .local-event-title-bar {
    /* height: 3vh; */
    display: flex;
    flex-direction: row;
    padding: 0px 2px;
    justify-content: space-between;
    width: 100%;
  }
  
  .local-event-bar-title {
    font-size: small;
    color: black;
    position: absolute;
    left: 3%;
    
  }

  .local-event-bar-title-left {
    font-size: small;
    color: black;
    
  }

  .local-event-bar-title-right {
    font-size: small;
    color: black;
    padding: 0px 4px;
    
  }