#container {
  height: 100vh;
  width: 100vw;
  padding: 0px;
}

.fullh {
  height: 100%;
}

.event-panel {
  background-color: white;
  padding: 12px;
}

.container-flex {
  display: "flex";
  flex-direction: "column";
  padding-left: 4px;
}

.container-flex > div {
  margin-top: 4px;
}

.flex-form-entry {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-form-entry > label {
  width: 50%;
  color: black;
}

.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: grey;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: grey;
}
.axis-label{
  font-size: 1em;
  fill: grey;
  font-weight: bold;
}

.timeLine{
    stroke: black;
    stroke-width: 0.5%;
    
}

#titleBrain1 {
  position: absolute;
  /* top: 51%; */
  /* right: 92.5%; */
  width: 7%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
  font-size: 0.9em;
}

#titleBrain2 {
  position: absolute;
  top: 51%;
  right: 58%;
  width: 8%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
}


#titleBrain3 {
  position: absolute;
  top: 51%;
  right: 24.5%;
  width: 8%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
}

#selectPosition{
  padding-top: 0px;
  height: 94%;
}

#container{
  overflow: hidden;
}

.slider text {
  font-size: 0.75rem;
  font-weight: bold;
  fill: black;
}
.slider-svg{
    position: relative;
    float: left;
    bottom: .3em
}

#svgcheckbox{
  position: absolute;
  left: 90%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}