.roiPosition{
    position: absolute;
}
.regionLabel{
    position: absolute;
    left: 18%;
    font-size: small;
}
.regionSummaryContainer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #region-topPercent{
    position: absolute;
    left: 35%;
    bottom: 37%;
  }
  #region-color{
    position: absolute;
    left: 46%;
    bottom: 37%;
  }