.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: black;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: black;
}
.axis-label{
  font-size: 1.2em;
  fill: black;
}

.timeLine{
    stroke: black;
    stroke-width: 0.5%;
    
}

#titleBrain1 {
  position: absolute;
  /* top: 51%; */
  /* right: 92.5%; */
  width: 7%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
  font-size: 0.9em;
}

#titleBrain2 {
  position: absolute;
  top: 51%;
  right: 58%;
  width: 8%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
}


#titleBrain3 {
  position: absolute;
  top: 51%;
  right: 24.5%;
  width: 8%;
  text-align: center;
  z-index: 100;
  display: block;
  color: black;
}

#selectPosition{
  padding-top: 0px;
  height: 94%;
}

#container{
  overflow: hidden;
}


