.ticks line{
  stroke: black;
  
}
.ticks text{
  fill: black;
  text-anchor: middle;
  font-size: 1em;
}
.axisLine{
  stroke: black;
}
.axis-label{
  font-size: 1.2em;
  fill: black;
}

.timeLine{
    stroke: black;
    stroke-width: 0.5%;
    
}


